---
layout: tei
permalink: /10_mi_navegacion.html
document: 10_mi_navegacion.xml
---

<div>
    <p>
        Esta edición digital del poema <i>X. Mi navegación</i> de Manuel de Cabanyes sigue la edición impresa del volumen 
        <i>Producciones escogidas de D. Manuel de Cabanyes</i> (1858. Barcelona: Librería de Joaquín Verdaguer), 
        disponible para uso público en la Biblioteca Digital Hispánica de la Biblioteca Nacional de España 
        (<a href="http://catalogo.bne.es/uhtbin/cgisirsi/x/0/0/57/5/3?searchdata1=1218756{CKEY}&searchfield1=GENERAL^SUBJECT^GENERAL^^&user_id=WEBSERVER">enlace</a>).
    </p>
    <p>
        Se ha modernizado la ortotipografía (suprimiendo espacios contiguos a los signos de puntuación), 
        pero no la ortografía ni la acentuación del original.
    </p>
    </div>