---
layout: tei
title: Breve regola
permalink: /breve_regola.html
document: breve_regola.xml
---

<div>
  <p>
    Prueba de renderización de la <i>Breve Regola</i> de Banchieri con los segmentos marcados. La hoja de estilo asigna diferentes colores 
de acuerdo al valor de la clase "type". 
  </p>
</div>