---
layout: page
title: Ediciones
permalink: /ediciones.html
---

<div>
    <h2 class="any">1858</h2>
    <p>
        Producciones escogidas de D. Manuel de Cabanyes
        <br>...
        <br>Barcelona: Librería de Joaquín Verdaguer. Texto en español.
        <br>
        <br><i>(Esta versión de la obra es la que se sigue aquí)</i>
    </p>
</div>
<div>
    <h2 class="any">1923</h2>
    <p>
        The poems of Manuel de Cabanyes
        <br>Edited, with Introduction, Notes and Bibliography, by E. Allison Peers, M.A., Gilmour Professor of Spanish in the University of Liverpool.
        <br>Manchester : University. London, New York, etc.: Longmans, Green et Co. 
        Texto en español con introducción y notas en inglés.
    </p>
</div>
<div>
    <h2 class="any">1927</h2>
    <p>
        El poeta Cabanyes: notas biográficas, "Preludios de mi lira" y otras poesías, documentos
        <br>Sebastián Puig
        <br>Barcelona: Oliva de Vilanova, imp. Texto en español.
    </p>
</div>
<div>
    <h2 class="any">1933</h2>
    <p>
        PRIMER CENTENARI DE LA MORT DEL POETA MANUEL DE CABANYES - VILANOVA I GELTRU - (1808-1833)
        <br>Sin indicación de editor. Texto en español con introducción en catalán.
    </p>
</div>
<div>
    <h2 class="any">1933</h2>
    <p>
        Les poesies de Manuel de Cabanyes.
        <br>Versió catalana de la "Introduction" de l'obra "The Poems of Manuel de Cabanyes" por 
        E. ALLISON PEERS, Gilmour Professor of Spanish in the University of Liverpool.
        <br>Oliva de Vilanova, Barcelona - MCMXXXIII
        <br>catalán
    </p>
</div>
<div>
    <h2 class="any">1935</h2>
    <p>
        POESIES COMPLETES DE MANUEL DE CABANYES
        <br>Versió, próleg i notes de Alfons Maseres
        <br>Barcelona: Barcino (Col. Popular Barcino, 114). Texto en catalán.
    </p>
</div>
<div>
    <h2 class="any">1940</h2>
    <p>
        Manuel de Cabanyes. Poetas españoles 5
        <br>Selección y prólogo de Ignacio Agustí
        <br>Barcelona: Editorial Yunque (Poesía en la mano, 15). Texto en español.
    </p>
</div>
<div>
    <h2 class="any">1959</h2>
    <p>
        Preludios de mi lira
        <br>Ilustración de Óscar Estruga
        <br>Vilanova i la Geltrú: Ed. Villanueva y Geltru. Texto en español.
    </p>
</div>
<div>
    <h2 class="any">2017</h2>
    <p>
        Manuel de Cabanyes. Poemes essencials
        <br>selecció, traducció i comentaris: Oriol Pi de Cabanyes
        <br>Vilanova i la Geltrú: El Cep i la Nansa edicions. Texto en catalán.
    </p>
</div>






