---
layout: default
permalink: /index
---

<div lang="es">
  <p>
    Edición digital de obras en <a href="poesia.html">verso</a> y <a href="prosa.html">prosa</a> de Manuel de Cabanyes (1808-1833), 
    acompañadas de estudios y referencia bibliográfica.
  </p>
  <div class="galeria">
    <img class="gal_img" src="assets/cabanyes_sinibald.png" alt="Retrato al pastel de Manuel de Cabanyes realizado por Sinibal de Mas">
    <img class="gal_img" src="assets/escogidas.png" alt="Portada de la edición de Producciones escogidas de Manuel de Cabanyes de 1853">
  </div>
</div>
<div lang="es">
  <p>
    Este sitio se construye como proyecto paralelo al curso <i>Digital Publishing with Minimal Computing</i> 
    (UMD/USAL/CONICET, 2020).<br><br>
  </p>

</div>
<div> icanogar 2020 - All rights reserved</div>
