---
sitemap: false
---


/*
  Common Variables

  Feel free to change!
*/

/* Fonts */
$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$heading-font: "Palatino Linotype", sans-serif;
$regular-font-size: 1.25em; /* 20px / 16px = 1.25em; support text resizing in all browsers */


/*
  Color

  Make sure to leave color-scheme in `_config.yml` file empty for granular control
*/

$text-color: #454545;
$heading-color: #404040;
$link-color: #841212;

@import "ed";
@import "syntax";
@import "CETEIcean.css";

.galeria {
  display: flex;
}
.gal_img {
  flex: 1;
}

tei-q {
  text-indent: 60%;
  font-size: 80%;
}

tei-seg[type="bassmov"]{
  color: darkolivegreen;
}
tei-seg[type="tess"]{
  color: darkslateblue;
}
tei-seg[type="skills"]{
  color: darkgoldenrod;
}
tei-seg[type="vol"]{
  color: darkred;
}